div h2{
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  font-style: italic;
  font-size: 200%;
}
nav div{
  margin-left: 20px;
  font-size: large;
  letter-spacing:10px;
}

p { 
text-indent: 2em;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;
}
p::first-letter{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: darkgreen;
}
.contents{
margin-left: 3%;
color: darkgreen;
font-style: oblique;
font-size: x-large;
}
#logo {
  color: brown;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: unset;
}
